/* ============================================= */
/*              Variables                      */
/* ============================================= */

$color-primary: #58e1c1;
$color-secondary: #51ddfc;

$color-text: #777;
$color-white: #fff;




$font-stack-primary: 'Lato', sans-serif;


$max-width: 1000px;
