/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: 100%;
  color: $white;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
  transition: background-color .5s ease-in;
}

.default {
  @include button($color-secondary);
}

.error {
  @include button($btn-color-error);
}

.info {
  @include button($btn-color-info);
}

.success {
  @include button($btn-color-success);
}

.warning {
  @include button($btn-color-warning);
}
